<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.cadenaConexion" connectionString="Data Source=.;Initial Catalog=ProyectoLenguajes;Integrated Security=true" />
    </connectionStrings>
</configuration>