<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.cadenaConexion" connectionString="Data Source=SQL5004.site4now.net;Initial Catalog=DB_A3D052_Vehiculos;User Id=DB_A3D052_Vehiculos_admin;Password=b65780123;" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
