<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  
  <!-- Para permitir a todos los usuarios ingresar a la página de Inicio. -->
    <location path="PaginaInicio.aspx" >
      <system.web>
            <authorization>
                  <allow users="*"  />
            </authorization>
      </system.web>
    </location>

    
    <system.web>
      <sessionState timeout="20"/>
      <compilation debug="true" targetFramework="4.6.1"/>
      <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
      -->
      <authentication mode="Forms">  
        <forms loginUrl="InicioSesion.aspx" name=".ASPXFORMSAUTH" timeout="20">    
        </forms>
      
      </authentication>
      <authorization>
        <!-- Denegar usuarios desconocidos o no loggeados fuera de las páginas permitidas -->
        <deny users="?"/>
      </authorization>
    
    
    
    <!--<authentication mode="Windows"/>-->
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
          
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name ="webHttpBindingJson" crossDomainScriptAccessEnabled="true"> 
        </binding>
      </webHttpBinding>
    </bindings>
    
    <services>
      
      <service name="UI.WS.WSRESTCliente">
        <endpoint address="" binding="webHttpBinding" 
                  bindingConfiguration="webHttpBindingJson" 
                  contract="UI.WS.IWSRESTCliente"
                  behaviorConfiguration="web">
        </endpoint>
      </service>
    
    </services>
      
        <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>